<template>
  <div id="app">
    <img v-if="!respuesta" alt="Vue logo" src="./assets/logo.png">
    <img v-else alt="Vue logo" :src="respuesta.data.image">
    <div v-if="!respuesta">
      <h1>¡Pregunta al genio! </h1>
      <p>El genio solo responderá <b>si</b> o <b>no </b></p>
      <input v-on:keyup.enter="fetchData" type="" class="input" v-model="pregunta" placeholder="OHH GRAN GENIO, ¿Me quedaré calvo?">
      <p><small>Presiona <i> enter </i> y el genio te responderá...</small></p>
    </div>
    <div v-else>
     <p> <i> {{pregunta}} </i> </p>
      <h1 v-if="respuesta.data.answer === 'yes' "> ¡Si! </h1>
      <h1 v-else> ¡NO! </h1>
    </div>
    <h4 @click="resetearDatos" v-if="respuesta">Volver a preguntar</h4>

  <input >
  </div>
</template>

<script>
export default {
  name: 'app',
  data (){
    return {
      pregunta: null,
      respuesta: null,
    }
  },  
  methods:{
    fetchData(){
       this.$axios
          .get('https://yesno.wtf/api')
          .then(response => (this.respuesta = response))
    },
    resetearDatos(){
      this.respuesta = null
      this.pregunta = null
    }
  },
  components: {
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
input{
  width: 100%;
  text-align: center;
  color:gray;
  height:80px;
  border: unset;
  font-size: xx-large;
}
input::placeholder{
  font-size: xx-large;

}
</style>
